{% extends 'email/base.inky.twig' %}
{% block message %}
<row>
    <h1>Nieuw bericht</h1>
    <row>
        <column><b>Van: </b></column>
        <column>{{ message.name }}</column>
    </row>
    <row>
        <column><b>Email: </b></column>
        <column>{{ message.email }}</column>
    </row>
    {% if message.url is not empty %}
        <row>
            <column><b>Website: </b></column>
            <column><a href="{{ message.url }}">{{ message.url }}</a></column>
        </row>
    {% endif %}
    <row>
        <column><b>Bericht</b></column>
    </row>
    <row>
        <column>{{ message.message }}</column>
    </row>
</row>
{% endblock %}